body{
    font-family: monospace;
}

p{
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    line-height: 20px;
}

h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
    font-style: italic;
}